<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name = "TESTNG">
    <test name = "TESTNG" parallel = "methods" thread-count = "2">
        <classes>
            <class name = "org.example.tests.RandomTest" />
            <class name = "org.example.tests.CreateGoogleAccountTest" />
        </classes>
    </test>
</suite>